@media only screen and (max-width: 640px){
  header{
    display: none;
  }
  .header-nav{
    display:block;
  }
  .message-contact{
    width:80%;
    margin:0 auto;
  }
  .news-contact{
    flex-wrap: wrap;
  }
  .new-item{
    width:80%;
    margin:0 auto;
  }
  .photo-contact{
    flex-wrap: wrap;
  }
  .photo-item{
    width:85%;
    margin:0 auto;
  }
  .photo-item img{
    vertical-align: bottom;
  }
  .faq-contact{
    width:85%;
  }


}